* {
    box-sizing: border-box;
    transition-duration: .4s;
    color: lightgreen;
    font-size: 14px;
    --bold-color: green;
    --background-color: #333;
}

body,
html {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0%;
    background-color: var(--background-color);
    font-family: 'Courier New', Courier, monospace;
}

main {
    flex: 1 0 auto;
    margin: 0 auto;
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--bold-color);
    border-radius: 3px;
}

/* Header Styles */
header {
    background-color: #333;
    color: green;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    transition: top 0.3s;
}

footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}