<!--

    Author: Achira Jacob
    Project: Embedded chat app

 -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/index5.css') }}">
    <script src="{{ url_for('static', filename='scripts/chat.js') }}"></script>
    <title>
        {% if title %}
        {{ title }}
        {% else %}
        Chat - Embedded
        {% endif %}
    </title>

    {% if title %}
    {% if title == 'API' %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/api.css') }}">
    {% endif %}
    {% endif %}
</head>

<header>
    {% block header %}

    {% endblock %}
</header>
<main>

    <body>
        {% block content %}

        {% endblock %}
    </body>
</main>

<footer>
    {% block footer %}

    {% endblock %}
</footer>

</html>