{% extends 'base.html' %}

{% block header %}
<header>
    <div id="logo">
        <!-- Your logo here -->
        <img src="logo.png" alt="Logo">
    </div>
    <div>
        <a href="#" id="blog-info">Info</a>
        <a href="#" id="user-profile">Profile</a>
    </div>
</header>
{% endblock %}
{% block content %}

<main>
    <div class="blog-post">
        <h2 class="blog-title"><a href="#">My name is Jacob</a></h2>
        <p>If I had a diamond heart. So here we are like we were two feet apart in different worlds
            no need to say another word no I should leave but I don't wanna go just yet.
        </p>
    </div>
    <div class="blog-post">
        <h2 class="blog-title"><a href="#">Blog Post Title 2</a></h2>
        <p>This is a brief description of the second blog post.</p>
    </div>
    <div class="blog-post">
        <h2 class="blog-title"><a href="#">My name is Jacob</a></h2>
        <p>If I had a diamond heart. So here we are like we were two feet apart in different worlds
            no need to say another word no I should leave but I don't wanna go just yet.
        </p>
    </div>
    <div class="blog-post">
        <h2 class="blog-title"><a href="#">My name is Jacob</a></h2>
        <p>If I had a diamond heart. So here we are like we were two feet apart in different worlds
            no need to say another word no I should leave but I don't wanna go just yet.
        </p>
    </div>
    <div class="blog-post">
        <h2 class="blog-title"><a href="#">My name is Jacob</a></h2>
        <p>If I had a diamond heart. So here we are like we were two feet apart in different worlds
            no need to say another word no I should leave but I don't wanna go just yet.
        </p>
    </div>
    <div class="blog-post">
        <h2 class="blog-title"><a href="#">My name is Jacob</a></h2>
        <p>If I had a diamond heart. So here we are like we were two feet apart in different worlds
            no need to say another word no I should leave but I don't wanna go just yet.
        </p>
    </div>
    <!-- Add more blog posts as needed -->
</main>
{% endblock %}
{% block footer %}

<div id="copyright">
</div>
<script>
    document.getElementById('copyright').innerHTML = `
        &copy; ${new Date().getFullYear()} Achira. All rights reserved`
</script>
<div class="social-media">
    <!-- Add your social media links/icons here -->
    <a href="#"><img src="facebook.png" alt="Facebook"></a>
    <a href="#"><img src="twitter.png" alt="Twitter"></a>
    <a href="#"><img src="instagram.png" alt="Instagram"></a>
</div>
{% endblock %}