{% extends 'base.html' %}

{% block header %}
<header>
    <div id="logo">
        <!-- Your logo here -->
        <img src="logo.png" alt="Logo">
    </div>
    <div>
        <a href="#" id="blog-info">Info</a>
        <a href="#" id="user-profile">Profile</a>
    </div>
</header>
{% endblock %}

{% block content %}

{% endblock %}

{% block footer %}
<div id="copyright">
</div>
<script>
    document.getElementById('copyright').innerHTML = `
        &copy; ${new Date().getFullYear()} Achira. All rights reserved`
</script>
<div class="social-media">
    <!-- Add your social media links/icons here -->
    <a href="#"><img src="facebook.png" alt="Facebook"></a>
    <a href="#"><img src="twitter.png" alt="Twitter"></a>
    <a href="#"><img src="instagram.png" alt="Instagram"></a>
</div>
{% endblock %}